{% extends 'layout.html' %}

{%block body%}
    {{session['username']}}<br/>
    {{session['password']}}
<p>list of urls for cloning</p>
<form action="{{url_for('add_repoes')}}" method="POST"
      enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit" value="Upload"/>
</form>
    <table>
        {% for item in _Repositories.Repoes %}
            <tr>
                <td>{{ item.name }}</td>
                <td><a href="{{ url_for('delete_repo', repository=item.name) }}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
{%endblock%}
