{% extends "layout.html" %}
{% block body %}
<table class='table table-condensed table-hover table-bordered sortable'>
    {% if _Repositories: %}
    <thead>
        <th>repository</th>
        <th>adoc</th>
        <th>xml</th>
        <th>pictures</th>
    </thead>
    {% for item in _Repositories.Repoes %}

    <tr>
        <td><a href="{{url_for('repository', repository=item.name)}}">{{item.name}}</a></td>
        <td>{{item.adoc}}</td>
        <td>{{item.xml}}</td>
        <td>{{item.pictures}}</td>
    </tr>
    {% endfor %}
{% endif %}
</table>
{% endblock %}